/*
 * stylesheet for mehadrin index
 * 
 * author: estyr@mediaotg.com
 * date: May 12, '17
 */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:600');
@font-face {
	font-family:"The Bold Font";
	src:url("../fonts/theboldfont.eot?") format("eot"),
	url("../fonts/theboldfont.woff") format("woff"),
	url("../fonts/theboldfont.ttf") format("truetype"),
	url("../fonts/theboldfont.svg#TheBoldFont") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
    font-family: 'geomaniacdemo';
    src: url('../fonts/geomaniac-demo-webfont.woff2') format('woff2'),
         url('../fonts/geomaniac-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Global */
*{
	margin: 0;
	padding: 0;

	font-size: 100%;
}
body{
	background: url('../images/background.jpg') repeat-y;
	background-size: 100% auto;
}
a, p, li, label, input, button{
	font-family: 'geomaniacdemo', sans-serif;
	font-weight: normal;
	font-size: 1.5em;
	color: #EC2229;
}
h1, h2, h3{
	font-family: 'The Bold Font', sans-serif;
}
h1{
	font-size: 5em;
	color: #F99F1C;
}
h2{
	font-size: 5em;
	color: #FAAF18;
}
h3{
	font-size: 3em;
	color: #FAAF18;
}
h5{
	font-family: 'TheBoldFont', sans-serif;
	color: #FAAF18;
	font-size: .9em;
}
.clearfix{
	float: none !important;
	clear: both !important;
}

/* Header */
header nav{
	max-width: 1400px;
	margin: 50px auto;

	display: flex;
	justify-content: space-around;
}
header a{
	text-transform: uppercase;
	text-decoration: none;
	height: 1em;

	display: block;
	position: relative;
}
header a::after{
	content: ' ';
	width: 0;
	height: 2.5px;
	background: #EC2229;
	position: absolute;
	top: 100%;
	left: -2px;
	margin-top: 3px;
	display: block;

	transition: .5s;
}
header a:hover::after, header a.active::after{
	width: 100%;
}
header #logo{
	height: 3em;
	width: 7em;
	margin-top: -1em;
	margin-left: 3em;
}
header #logo img{
	max-width: 100%;
	height: auto;
}
header #logo:hover::after{
	display: none;
}

/* Categories */
.wrapper{
	padding-top: 50px;
	max-width: 1400px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.wrapper > div{
	width: 200px;
	height: 220px;
	position: relative;
	margin: 0 2px;
}
.wrapper > div a{
	text-decoration: none;
}
.wrapper > div img{
	max-width: 100%;
	height: auto;
	z-index: 3;
	transition: .5s;
}
.wrapper > div a:hover img{
	transform: scale(1.2);
}
.wrapper > div::after{
	content: ' ';
	display: block;
	width: 100%;
	height: 15px;
	background: #FAAF18;
	position: absolute;
	top: 130px;
	left: 0;
	z-index: -1;
}
.wrapper > div h5{
	font-size: .7em;
	text-align: center;
}

/* Bottom links */
#categories-bottom > div{
	width: 300px;
}
#categories-bottom > div::after{
	top: 150px;
}

/* Products */
#products{
	max-width: 1400px;
	margin: 100px auto;
	text-align: center;
}

@media(max-width: 700px){
	a, p, li, label, input, button{
		font-family: 'geomaniacdemo', sans-serif;
		font-weight: normal;
		font-size: 1.2em;
		color: #EC2229;
	}
	h1{
		font-size: 5em;
	}
	h3{
		font-size: 2em;
	}
}
@media(max-width: 400px){
	a, p, li, label, input, button{
		font-family: 'geomaniacdemo', sans-serif;
		font-weight: normal;
		font-size: 1em;
		color: #EC2229;
	}
}